<div class="container">
  <div class="header text-center">
    <h1 class="header-title">
      Search Images
    </h1>

    <form action="/" method="GET">
      <div class="input-group search-input">
        <input class="form-control form-control-md" type="text" name="search_word">
        <button class="btn btn-warning search-button" type="submit">
            확인
        </button>
      </div>
    </form>
  </div>

  <% if @images.blank? %>
    <div class="blank-text text-center">검색결과 없음</div>
  <% end %>

  <div class="raw text-lg-left text-center">
    <%= render partial: "images", collection: @images, as: :image %>
  </div>

  <div class="page">
    <% if @paginatable_array %>
      <%= paginate @paginatable_array %>
    <% end %>
  </div>
</div>
