<% flash.each do |key, value| %>
  <div class="<%= key %> alert alert-danger" role="alert"><%= value %></div>
<% end %>

<div class="container">
  <div class="header text-center">
    <h1 class="header-title">
      Search Images
    </h1>

    <form action="/" method="GET">
      <div class="input-group search-input">
        <input class="form-control form-control-lg" type="text" name="search_word">
        <button class="btn btn-warning search-button" type="submit">
            확인
        </button>
      </div>
    </form>
  </div>

  <div class="raw text-lg-left text-center">
    <%= render partial: "images", collection: @images, as: :image %>
  </div>

  <div class="page">
    <% if @paginatable_array %>
      <%= paginate @paginatable_array %>
    <% end %>
  </div>
</div>

<script>
  
</script>